# Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(123)

# numpy.random

## np.random.choice

In [2]:
# selects random options from a list

np.random.choice(['h','t'])

'h'

In [3]:
# selects random options from a list, where p=[,] is the odds for each entry in the list

np.random.choice(['h','t'], p=[0.5,0.5],size=(10**2,5))

array([['t', 'h', 't', 't', 'h'],
       ['t', 'h', 't', 'h', 'h'],
       ['t', 'h', 'h', 't', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 't', 'h', 'h'],
       ['t', 'h', 'h', 't', 't'],
       ['t', 'h', 'h', 'h', 'h'],
       ['t', 't', 't', 't', 'h'],
       ['t', 'h', 'h', 't', 't'],
       ['h', 'h', 'h', 'h', 't'],
       ['h', 't', 'h', 'h', 'h'],
       ['h', 't', 't', 'h', 'h'],
       ['h', 't', 'h', 't', 'h'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 'h', 't', 't', 'h'],
       ['h', 't', 'h', 't', 'h'],
       ['t', 't', 'h', 'h', 't'],
       ['t', 'h', 'h', 'h', 't'],
       ['t', 'h', 't', 'h', 'h'],
       ['t', 'h', 't', 'h', 't'],
       ['h', 't', 'h', 't', 'h'],
       ['h', 'h', 't', 't', 't'],
       ['t', 't', 'h', 'h', 'h'],
       ['t', 't', 'h', 't', 't'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 't', 't', 'h', 't'],
       ['t', 'h', 't', 'h', 't'],
       ['h', 'h', 't', 't', 'h'],
       ['h', 't', 'h', 'h', 'h'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 't', 't', 't', 'h'],
       ['h', 'h', 't', 'h', 'h'],
       ['h', 't', 'h', 't', 't'],
       ['h', 'h', 'h', 'h', 'h'],
       ['h', 't', 'h', 't', 't'],
       ['h', 'h', 't', 'h', 't'],
       ['h', 'h', 'h', 'h', 't'],
       ['t', 't', 'h', 't', 'h'],
       ['h', 'h', 't', 't', 't'],
       ['h', 't', 'h', 't', 't'],
       ['h', 'h', 't', 't', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 'h', 't', 'h'],
       ['t', 't', 't', 't', 't'],
       ['h', 'h', 'h', 't', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 'h', 'h', 'h'],
       ['h', 'h', 't', 't', 't'],
       ['h', 't', 'h', 'h', 'h'],
       ['t', 'h', 'h', 'h', 't'],
       ['h', 't', 'h', 't', 't'],
       ['t', 't', 't', 't', 'h'],
       ['h', 't', 'h', 't', 'h'],
       ['t', 't', 't', 'h', 't'],
       ['h', 't', 't', 'h', 'h'],
       ['t', 'h', 'h', 'h', 't'],
       ['t', 't', 'h', 't', 't'],
       ['h', 't', 't', 'h', 't'],
       ['t', 't', 'h', 'h', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['t', 'h', 't', 'h', 'h'],
       ['t', 'h', 't', 't', 't'],
       ['h', 'h', 'h', 't', 'h'],
       ['h', 'h', 't', 'h', 't'],
       ['h', 't', 't', 'h', 't'],
       ['t', 't', 't', 'h', 'h'],
       ['t', 't', 't', 't', 'h'],
       ['t', 'h', 'h', 'h', 'h'],
       ['h', 't', 'h', 't', 'h'],
       ['h', 'h', 'h', 't', 't'],
       ['h', 't', 't', 't', 't'],
       ['t', 'h', 't', 't', 'h'],
       ['t', 't', 't', 't', 'h'],
       ['t', 't', 't', 't', 'h'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 'h', 't', 't', 'h'],
       ['h', 't', 't', 'h', 'h'],
       ['t', 'h', 'h', 'h', 'h'],
       ['t', 'h', 'h', 'h', 't'],
       ['t', 'h', 't', 'h', 't'],
       ['h', 'h', 'h', 'h', 'h'],
       ['t', 't', 'h', 't', 't'],
       ['h', 'h', 't', 't', 'h'],
       ['t', 'h', 't', 'h', 'h'],
       ['h', 't', 'h', 't', 't'],
       ['t', 'h', 't', 't', 't'],
       ['h', 'h', 't', 'h', 't'],
       ['h', 'h', 'h', 't', 't'],
       ['h', 't', 't', 'h', 'h'],
       ['t', 't', 'h', 'h', 't'],
       ['t', 'h', 'h', 't', 'h'],
       ['h', 't', 'h', 't', 'h'],
       ['h', 't', 't', 'h', 'h'],
       ['h', 'h', 't', 'h', 't'],
       ['h', 'h', 't', 't', 't'],
       ['t', 't', 'h', 't', 'h'],
       ['h', 'h', 't', 't', 'h'],
       ['t', 't', 'h', 't', 't'],
       ['h', 't', 'h', 'h', 't'],
       ['h', 'h', 'h', 't', 't']], dtype='<U1')

## np.random.uniform

In [4]:
# generates numbers between a given lower and upper bound

np.random.uniform(89,115)

93.80444768220116

## np.random.random

In [5]:
# generates numbers between 0 and 1

# np.random.random()
np.random.rand()

0.10603525378963385

## np.random.randn

In [6]:
# generates numbers from the standard normal distribution

np.random.randn()

0.8024685296970248

## np.random.normal

In [7]:
# generates numbers from a normal distribution with a specified mean and standard deviation

mean=8
std_dev=0.75
np.random.normal(mean, std_dev)

8.482201264744846

## np.random.randint

In [8]:
np.random.randint(1, 366)

2

# Exercises

## 1

In [9]:
rolls = pd.DataFrame(np.random.randint(1, 7, size=(10000, 2)))
rolls.head()

   0  1
0  2  4
1  3  4
2  1  3
3  1  4
4  4  2

How likely is it that you roll doubles when rolling two dice?

In [10]:
doubles = rolls.apply(lambda row: row.values[0]==row.values[1], axis=1)
doubles.mean()

0.1658

## 2

In [11]:
rolls = pd.DataFrame(np.random.randint(2, size=(10000, 8)))
rolls.sample(10)

      0  1  2  3  4  5  6  7
7019  1  0  0  0  1  0  1  0
7027  0  0  0  1  0  1  1  0
9026  0  1  0  1  0  1  1  0
1123  1  0  0  1  1  1  0  1
6480  0  1  0  1  1  0  0  0
8326  0  0  0  1  0  1  0  0
6235  1  1  0  1  1  0  1  0
5911  0  1  0  1  0  0  1  1
5446  0  1  1  1  1  0  1  0
803   1  0  0  0  0  1  0  0

3 heads

In [12]:
(rolls.sum(axis=1)==3).mean()

0.2251

\> 3 heads

In [13]:
(rolls.sum(axis=1)>3).mean()

0.6327

## 3

In [14]:
boards = pd.DataFrame(np.random.choice(['data', 'web', 'web', 'web'], size=(10000, 2)))
boards.head()

      0     1
0   web   web
1   web   web
2   web   web
3  data  data
4   web   web

In [15]:
boards = pd.DataFrame(np.random.choice(['data', 'web'],p=[0.25,0.75], size=(10000, 2)))
boards.head()

      0     1
0   web   web
1  data   web
2   web   web
3   web  data
4  data  data

What are the odds that the two billboards I drive past both have data science students on them?

In [16]:
is_a_data_board=boards.apply(lambda row: row.values[0]==row.values[1]=='data', axis=1)
is_a_data_board.mean()

0.063

## 4

How likely is it that I will be able to buy some poptarts on Friday afternoon?

In [17]:
tarts = pd.DataFrame(np.random.normal(3,1.5, size=(10000, 4)))
tarts.head()

          0         1         2         3
0  3.836558  0.309594  1.735574  3.715802
1  3.108726  2.163225  2.077014  1.002633
2  2.052550  6.478665  2.438922  0.753673
3  1.826419  4.258575  3.922517  2.283408
4  2.929803  2.793640  1.992100  2.812075

In [18]:
(tarts.sum(axis=1)<17).mean()

0.9524

In [19]:
purchases= np.random.normal(3,1.5, size=(10**5,4)).round()

In [20]:
purchases = np.where(purchases<0,0,purchases)

In [21]:
(purchases.sum(axis=1)<=16).mean()

0.92907

## 5

In [22]:
men = pd.DataFrame(np.random.normal(178,8, size=(10000)))
men.head()

            0
0  175.354161
1  184.600235
2  180.922736
3  182.115921
4  174.242147

In [23]:
women = pd.DataFrame(np.random.normal(170,6,size=(10000)))
women.head()

            0
0  173.733766
1  168.591145
2  172.473423
3  169.975794
4  175.708957

If a man and woman are chosen at random, P(woman taller than man)?

In [24]:
taller = women>men
taller.mean()

0    0.2059
dtype: float64

## 6

In [25]:
def corrupted(dls):
	installs= pd.DataFrame(np.random.choice(
		[True,False],
		p=[1/250, 249/250],
		size =(10**5,dls)
		))
	return (installs.sum(axis=1)==0).mean()

What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [26]:
downloads_50 = corrupted(50)
downloads_50

0.81985

What are the odds that after having 100 students download anaconda, no one has an installation issue?

In [27]:
downloads_100 = corrupted(100)
downloads_100

0.66887

In [28]:
installs_150 = pd.DataFrame(np.random.random(size=(150)))
installs_150.head()

          0
0  0.665555
1  0.869136
2  0.117346
3  0.009372
4  0.622547

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [29]:
1-corrupted(150)

0.45143999999999995

How likely is it that 450 students all download anaconda without an issue?

In [30]:
corrupted(450)

0.16445

## 7

In [31]:
# trucks = pd.DataFrame(np.random.random(size=(10**10)))
# trucks.head()

# this frame took 1m 27.5s to run

In [32]:
trucks = pd.DataFrame(np.random.rand(10**5,3))
trucks.head()

          0         1         2
0  0.755801  0.191608  0.046051
1  0.863315  0.395434  0.452865
2  0.526740  0.716009  0.500243
3  0.234120  0.859247  0.292846
4  0.619772  0.418487  0.633450

You haven't seen a food truck there in 3 days. How unlikely is this?

In [33]:
((trucks>0.7).sum(axis=1)==3).mean()

0.02726

In [34]:
trucks = pd.DataFrame(np.random.rand(10**5,7))
trucks.head()

          0         1         2         3         4         5         6
0  0.915953  0.751481  0.957154  0.759187  0.304402  0.340691  0.036463
1  0.386371  0.365957  0.154303  0.664207  0.787171  0.118559  0.771261
2  0.377026  0.609773  0.069027  0.241912  0.444007  0.227020  0.173221
3  0.976906  0.364007  0.667013  0.599645  0.360373  0.954647  0.156337
4  0.511576  0.365173  0.196864  0.225769  0.703938  0.765150  0.885622

How likely is it that a food truck will show up sometime this week?

In [35]:
((trucks>0.7).sum(axis=1)>=1).mean()

0.91765

## 8

In [36]:

def bdays(people):
	bdays=pd.DataFrame(np.random.randint(1,366,size=(10**4,people)))
	chance=((people-(bdays.nunique(axis=1)))>=1).mean()
	return chance

23 people are in the same room, what are the odds that two of them share a birthday?

In [37]:
bdays(23)

0.5142

What if it's 20 people?

In [38]:
bdays(20)

0.4047

40?

In [39]:
bdays(40)

0.8852

## Mage Duel!

In [40]:
battles=10**5

# 10**1 rds: life = 19, hits = -4
# 10**2 rds: life = 33, hits = -1
# 10**4 rds: life = 319, hits = 109
# i don't see a clear winner

# new code
# you_mage wins 35%
# me_mage wins 55%

In [41]:
me_mage_hit = pd.DataFrame(np.random.randint(1,5, size=(battles,6)))
# me_mage_hit.head()

In [42]:
me_mage_life = pd.DataFrame(np.random.randint(1,5, size=(battles,6)))
# me_mage_life.head()

In [43]:
# me_mage_hit.sum(axis=1).sum()

In [44]:
you_mage_hit=pd.DataFrame(np.random.randint(1,7, size=(battles,4)))
# you_mage_hit.head()

In [45]:
you_mage_life=pd.DataFrame(np.random.randint(1,7, size=(battles,4)))
# you_mage_life.head()

In [46]:
you_mage_wins=you_mage_hit.sum(axis=1)>me_mage_life.sum(axis=1)
you_mage_wins.mean()

0.36811

In [47]:
me_mage_wins=me_mage_hit.sum(axis=1)>you_mage_life.sum(axis=1)
me_mage_wins.mean()

0.54466