In [1]:
from imports import *
import acquire as acq

In [9]:
df=pd.DataFrame([' ','',np.nan,pd.NA,None])

In [30]:
df2=pd.DataFrame([np.nan==None,np.nan==np.nan,np.nan==pd.NA,pd.NA==None,pd.NA==pd.NA,None==None])

In [22]:
df

      0
0
1
2   NaN
3  <NA>
4  None

In [21]:
df.isna()

       0
0  False
1  False
2   True
3   True
4   True

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

(      0
 0
 1
 2   NaN
 3  <NA>
 4  None,
        0
 0  False
 1  False
 2   True
 3   True
 4   True,
 None)

In [8]:
pd.set_option("display.max_columns", None)
telco=acq.get_telco_data()
telco.drop_duplicates()
telco.head()

Using cached csv

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [11]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   contract_type_id          7043 non-null   int64
 2   internet_service_type_id  7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  internet_service_type     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [10]:
telco2=telco.total_charges.str.strip()
telco2.astype('float')

ValueError: could not convert string to float: ''

In [ ]:
stats.norm(40,15).cdf(50)

In [ ]:
stats.binom(618,0.10).sf(69)

In [ ]:
Î¼ =0

$ \mu=0 $

## Agenda 02/07
{[0900am, 1230pm]: ['Working on Understanding Charts exercises']}
{[0130pm, 0200pm]: ['Demo --  Understanding Charts exercises -- Good Chart + Bad Chart']
{[0230pm, 0330pm]: ['Storytelling Lesson -- Create, Project Management']}
{[0300pm, 0400pm]: ['Trello exercise', 'Storytelling Project Soft Launch']}
## Agenda 02/08
{[0900am, 1030am]: ['Tableau Tutorial']}
{[1030am, 1230pm]: ['Tableau Exercises work time']
{[0130pm, 0500pm]: ['Storytelling Project Work Time']}
## Agenda 02/09
{[0900am, 1230pm]: ['Storytelling Project Work Time']}
### Agenda 02/10
{[0900am, 1000am]: ['Marty Sixkiller -- Managing Your Professional Brand'}
{[1000am, 1200pm]: ['Storytelling Project Work Time']}
{[0130pm, 0300pm]: ['Storytelling Project Wrap up']}
{[0300pm, 0500pm]: ['Storytelling Project Presentations']}
## Agenda 02/11
Tableau Exercises Due
## {['TBD']: 
			[
			'Statistics Overview',
			'Statistics Simulations',
			Statistics Simulations Exercises
			  ]}

In [ ]:
dbname='employees'
url=get_db_url(dbname)

In [ ]:
pd.read_sql('''SELECT * FROM employees LIMIT 5 OFFSET 50''', url)

# $ \textrm{ Hypthosesis Testing Rachel's Saintdom} $

$ H_0 = \textrm{"Rachel is not a Saint and the gift was a group effort." }$

$ H_1 = \textrm{"Saint Rachel" }$

$\textrm{True Positive : "We REJECT }H_0\textrm{ and are CORRECT, Rachel is a Saint." }$

$\textrm{True Negative : "We ACCEPT }H_0\textrm{ and are CORRECT, the sales DID NOT increase." }$

$\textrm{Type I Error : "We REJECT }H_0\textrm{ but are WRONG, the sales DID NOT increase." }$

$\textrm{Type II Error : "We ACCEPT }H_0\textrm{ but are WRONG, the sales increased." }$