# Imports

In [1]:
import sys
sys.path.insert(0, '/Users/hinzlehome/codeup-data-science/clustering-project/')

from utils.imports import *

from utils.wrangle import *

---

# Explore

In [ ]:
train, validate, test=explore_zillow()

In [ ]:
train.info()

---

# Outliers

In [ ]:
# cols=df.loc[:,(df.dtypes=='float64').values].columns.tolist()

In [ ]:
cols=['bathroomcnt',
	'bedroomcnt',
	'calculatedfinishedsquarefeet',
	'lotsizesquarefeet',
	'structuretaxvaluedollarcnt',
	'taxvaluedollarcnt',
	'landtaxvaluedollarcnt',
	'taxamount']

In [ ]:
k=3

In [ ]:
for col in cols:
    # Get quartiles
    q1, q3 = df[col].quantile([.25, .75]) 
    # Calculate interquartile range
    iqr = q3 - q1 
    
    upper_bound = q3 + k * iqr   # get upper bound
    lower_bound = q1 - k * iqr   # get lower bound

    # return dataframe without outliers
    
    df = df[(df[col] > lower_bound) & (df[col] < upper_bound)]

In [ ]:
df.info()

---

# Dummies

In [ ]:
def dummy(df):
	cols=df.loc[:,(df.dtypes==object).values].columns.tolist()
	dummy_df=pd.get_dummies(df[cols],  drop_first=True)
	df=pd.concat([df, dummy_df], axis=1)
	df=df.drop(columns=cols)
	return df

---

# UML

In [ ]:
train, validate, test=uml_zillow()

In [ ]:
train.info()

---

# SML

In [2]:
target=['logerror']

In [4]:
X_train, y_train, X_validate, y_validate, X_test, y_test=sml_zillow(target)

/Users/hinzlehome/codeup-data-science/clustering-project/utils/wrangle.py:257: DtypeWarning: Columns (63) have mixed types.Specify dtype option on import or set low_memory=False.
  df = acquire_df()

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18052 entries, 0 to 21770
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   bathroomcnt                     18052 non-null  float64
 1   bedroomcnt                      18052 non-null  float64
 2   buildingqualitytypeid           18052 non-null  float64
 3   calculatedfinishedsquarefeet    18052 non-null  float64
 4   county                          18052 non-null  float64
 5   latitude                        18052 non-null  float64
 6   longitude                       18052 non-null  float64
 7   lotsizesquarefeet               18052 non-null  float64
 8   rawcensustractandblock          18052 non-null  float64
 9   regionidcity                    18052 non-null  float64
 10  regionidcounty                  18052 non-null  float64
 11  regionidzip                     18052 non-null  float64
 12  roomcnt                         18052 non-null  float64
 13  yearbuilt                       18052 non-null  float64
 14  structuretaxvaluedollarcnt      18052 non-null  float64
 15  taxvaluedollarcnt               18052 non-null  float64
 16  assessmentyear                  18052 non-null  float64
 17  landtaxvaluedollarcnt           18052 non-null  float64
 18  taxamount                       18052 non-null  float64
 19  age                             18052 non-null  float64
 20  heatingorsystemdesc_Floor/Wall  18052 non-null  float64
 21  heatingorsystemdesc_Solar       18052 non-null  float64
dtypes: float64(22)
memory usage: 3.2 MB

---