# Imports

In [ ]:
from imports import *

# Tidy Tools to Wrangle Data

## pd.df.melt

In [ ]:
# df.melt(id_vars=['untouched','cols'], val_var=['melt','cols'], var_name='col_name', value_name='col_name')

## pd.df.pivot

In [ ]:
# df.pivot(index=['untouched','cols'], columns='var')

In [ ]:
# df.columns.name = ''

In [ ]:
# df.reset_index(inplace=True)

# Exercises

## 1 - Attendance Data

In [ ]:
attendance=pd.read_csv('~/codeup-data-science/classification-exercises/untidy-data/attendance.csv')
attendance.head()

In [ ]:
attendance.rename({'Unnamed: 0':'student_name'},axis=1,inplace=True)
attendance.head()

In [ ]:
attendance=attendance.melt(id_vars=['student_name'], var_name='date', value_name='attendance')

In [ ]:
attendance.head()

In [ ]:
attendance.info()

In [ ]:
# attendance['grades']=attendance.attendance.replace(['P','T','H','A'],[1,.9,.5,0])

In [ ]:
attendance_grades = {
    'P': 1,
    'T': .9,
    'H': .5,
    'A': 0
}

In [ ]:
attendance['grade'] = attendance.attendance.map(attendance_grades)

In [ ]:
attendance.groupby('student_name').grade.mean()

## 2 - Coffee Levels

Read the coffee_levels table.

In [ ]:
coffee_levels=pd.read_csv('~/codeup-data-science/classification-exercises/untidy-data/coffee_levels.csv')
coffee_levels.head()

Transform the data so that each carafe is in it's own column.

In [ ]:
carafes_of_coffee=coffee_levels.pivot(index='hour',columns='coffee_carafe')
carafes_of_coffee.head()

Is this the best shape for the data?

In [ ]:
# No, the data is not tidy.

## Cake Recipes

Read the cake_recipes table.

In [14]:
cake_recipes=pd.read_csv('~/codeup-data-science/classification-exercises/untidy-data/cake_recipes.csv')
cake_recipes.head()

  recipe:position        225        250        275        300
0        a:bottom  61.738655  53.912627  74.414730  98.786784
1           a:top  51.709751  52.009735  68.576858  50.228470
2        b:bottom  57.095320  61.904369  61.196980  99.248541
3           b:top  82.455004  95.224151  98.594881  58.169349
4        c:bottom  96.470207  52.001358  92.893227  65.473084

Tidy the data as necessary.

In [15]:
cake_recipes=cake_recipes.melt(id_vars='recipe:position',value_vars=['225', '250', '275', '300'], var_name='temp', value_name='tastiness')
cake_recipes.head()

  recipe:position temp  tastiness
0        a:bottom  225  61.738655
1           a:top  225  51.709751
2        b:bottom  225  57.095320
3           b:top  225  82.455004
4        c:bottom  225  96.470207

In [16]:
cake_recipes=pd.concat([cake_recipes,(cake_recipes['recipe:position'].str.split(':',expand=True))],axis=1)
cake_recipes.head()

  recipe:position temp  tastiness  0       1
0        a:bottom  225  61.738655  a  bottom
1           a:top  225  51.709751  a     top
2        b:bottom  225  57.095320  b  bottom
3           b:top  225  82.455004  b     top
4        c:bottom  225  96.470207  c  bottom

In [17]:
cake_recipes.columns

Index(['recipe:position', 'temp', 'tastiness', 0, 1], dtype='object')

In [18]:
cake_recipes=cake_recipes.rename({0:'recipe',1:'position'},axis=1).drop('recipe:position',axis=1)
cake_recipes.head()

  temp  tastiness recipe position
0  225  61.738655      a   bottom
1  225  51.709751      a      top
2  225  57.095320      b   bottom
3  225  82.455004      b      top
4  225  96.470207      c   bottom

Which recipe, on average, is the best? recipe b

In [24]:
cake_recipes.groupby('recipe').mean()

        tastiness
recipe
a       63.922201
b       76.736074
c       75.874748
d       62.864844

In [23]:
cake_recipes.groupby('recipe').sum()

         tastiness
recipe
a       511.377610
b       613.888594
c       606.997983
d       502.918754

Which oven temperature, on average, produces the best results? 275

In [27]:
cake_recipes.groupby(['temp']).mean()

      tastiness
temp
225   71.306022
250   66.577437
275   74.886754
300   66.627655

In [ ]:
cake_recipes.groupby(['temp']).sum()

       tastiness
temp
225   570.448175
250   532.619499
275   599.094031
300   533.021236

Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [52]:
cake_recipes[cake_recipes.tastiness== cake_recipes.groupby(['temp','recipe','position']).sum()['tastiness'].max()]

   temp  tastiness recipe position
26  300  99.248541      b   bottom